/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$primary-blue: #0275d8;
$submit-btn-bg-color: #ec6f31;
$account-details-background-color: #ffffff;
$title-background-color: #02a1e0;
$place-holder-font-style: italic;
$place-holder-font-size: 12px;
